.FindUser{
    margin-left: 60px;
    /* background: #000; */
}
.FindUser-Card{
    border-bottom:1px solid grey ;
    display: flex;
    padding: 20px;
}
.FindUser-Card img{
    width: 60px;
}
.FindUser-Card span{
    margin-left: 15px;
    margin-top: 15px;
}

.LinkSearch{
    text-decoration: none;
    color: black;
}