.Messenger{
    margin-left: 60px;
    height: 80vh ;
    padding: 20px;
    display: flex;
}
.ChatMenu{
    flex: 3.5;
}
.ChatMenuInput{
    padding: 10px 0;
    width: 90%;
    margin-bottom: 5px;
}
.ChatBox{
    flex: 5.5;
}
.ChatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ChatBoxTop{
    height: 80%;
    overflow-y: scroll;
    padding-right: 10px;
}
.ChatBoxBottom{
    margin-top: 5px;
    width: 50%;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    z-index: 1;
}

.ChatMenuWrapper, .ChatBoxWrapper, .ChatOnlineWrapper{
    padding: 20px;
    /* background: wheat; */
    height: 90%;
}