.search-box{
    position: absolute;
    top: 8px;
    right: 10px;
    height: 30px;
    background: #353535;
    line-height:40px;
    padding: 10px;
    border-radius: 60px;
}
.search-input{
    background: #353535;
    color: #fff;
    outline: none;
    border: none;
    line-height:30px;
    width: 0px;
    float: left;
    font-size:14px;
    transition: 0.7s ease;
    font-family:sans-serif;
}
.search-btn{
    margin-top: -5px;
    display:flex;
    padding: 13px;
    border-radius: 50%;
    float: right;
    background: var(--header-bg-search);
    border: none;
    color: white;
    transition: 0.4s ease;
}
.search-btn > .search-btn-link{
    color: white;
}
.search-box:hover > .search-input{
    width: 700px;
    margin: 0px 8px;
}
.search-input:focus{
    width: 700px;
    margin: 0px 8px;
}
.search-box:hover > .search-btn{
    background: var(--header-bg-search);
}
.search-input:focus + .search-btn{
    background: var(--header-bg-search);
}