.ProfileSettings{
    margin-left: 60px;
    margin-top: 20px;
}

.ProfileSettingsWrapper{
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.ProfileSettings-Picture{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 40px;
}

.ProfileSettings-Input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .ProfileSettings-Button{
    width: 100%;
    background-color: #4c5270;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .ProfileSettings-Button:hover {
    background-color: #4c5265;
  }