.PublicationUnique{
    margin-left: 60px;
}
.PublicationUniqueWrapper{
    padding: 20px;
}
.PublicationUnique-card{
    width: 90%;
    display: flex;
}
.PublicationUnique-img-lazy{
    width: 500px;
}
.PublicationUnique-card-bottom{
    
}