.Notification-Expanded-Side-Expanded{
    position: absolute;
    top: 70px;
    left: 250px;
    z-index: 2;
}
.Notification-Expanded-Side-Collapsed{
    position: absolute;
    top: 70px;
    left: 50px;
    z-index: 2;
}
.Notifications-Expanded{
    background: var(--header-bg);
    position: absolute;
    top: 70px;
    left: 50px;
    transition: 0.5;
    height: 100vh;
    width: 25vw;
    z-index: 2;
    border-left: 1px solid black;
}
.NotificationsWrapper{
    padding: 20px;
    /* background: #000; */
}

.Notification-Message img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.Notification-Message{
    display: flex;
    padding: 20px;
    z-index: 2;
}

.Notification-Message div{
    margin-left: 20px;
    color: white;
    z-index: 2;
}

.Notifications-Collapsed{
    z-index: 2;
    display: none;
}