.sidemenu-menu-search{
  background: var(--header-bg);
  height: 70px;
}
.Link{
  text-decoration: none;
}
.sidemenu-menu-expanded {
  /* display: none; */
  background: var(--header-bg);
  position: fixed;
  height: 100%;
  width: 250px;
  top: 0;
  left: 0;
  transition: .5s;
}

.sidemenu-menu-expanded .sidemenu-header {
  color: rgb(0, 0, 0);
  font-size: 25px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
}
.sidemenu-menu-expanded .sidemenu-header span{
  text-align: center;
  padding: 10px;
  margin-bottom: 25px;
  color: rgb(0, 0, 0);
  font-size: 35px;
  line-height: var(--header-height);
  padding: 0 40px;
  font-weight: bold;
  margin-top: -26px;
}

.sidemenu-menu-expanded .sidemenu-profile {
  display: inline;
  text-align: center;
  color: #000000;
  font-size: 18px;
  text-transform: capitalize;
}

.sidemenu-menu-expanded .sidemenu-profile img {
  width: 80%;
  height: 19vh;
  border-radius: 50%;
  object-fit: cover;
}

.sidemenu-menu-expanded .sidemenu-profile .sidemenu-username {
  margin-bottom: 7px;
}

.sidemenu-menu-expanded .sidemenu-item {
  display: flex;
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}

.sidemenu-menu-expanded .sidemenu-item-search {
  display: flex;
  padding: 10px;
  color: rgb(87, 83, 83);
  font-size: 18px;
}

.sidemenu-menu-expanded .sidemenu-item-search .sidemenu-item-logo {
  margin-right: 15px;
  margin-top: 4px;
}

.sidemenu-menu-expanded .sidemenu-item-search .sidemenu-item-text input {
  border: none;
  border-radius: 5px;
  padding: 8px;
}

.sidemenu-menu-expanded .sidemenu-item-search .sidemenu-item-text input {
  border: none;
  border-radius: 5px;
  padding: 8px;
}

.sidemenu-menu-expanded .sidemenu-item .sidemenu-item-logo {
  margin-right: 45px;
}

.sidemenu-menu-expanded .sidemenu-item:hover {
  background: rgb(122, 122, 122);
  cursor: pointer;
}

.sidemenu-menu-expanded .sidemenu-logout {
  /* Esta propiedad debe queda abajo del sidemenu */
}

.sidemenu-menu-collapsed {
  background: var(--header-bg);
  position: fixed;
  height: 100%;
  width: 50px;
  top: 0;
  left: 0;
  transition: width .5s;
}

.sidemenu-menu-collapsed .sidemenu-header {
  color: rgb(0, 0, 0);
  font-size: 25px;
  padding: 10px;
  margin-bottom: -70px;
  margin-top: 10px;
}
.sidemenu-menu-collapsed .sidemenu-header span{
  text-align: center;
  padding: 10px;
  margin-bottom: 25px;
  color: transparent;
  font-size: 35px;
  line-height: var(--header-height);
  padding: 0 40px;
  font-weight: bold;
  margin-top: -12px;
  transition: color .3s;
}

.sidemenu-menu-collapsed .sidemenu-profile {
  display: inline;
  text-align: center;
  color: #f9f9f9;
  font-size: 35px;
  text-transform: capitalize;
}

.sidemenu-menu-collapsed .sidemenu-profile img {
  width: 80%;
  height: 4vh;
  border-radius: 50%;
  object-fit: cover;
}
.sidemenu-menu-collapsed .sidemenu-profile .sidemenu-username {
  display: none;
}

.sidemenu-menu-collapsed .sidemenu-item, .sidemenu-item-search {
  display: flex;
  padding: 15px;
  color: rgb(2, 2, 2);
  font-size: 20px;
}

.sidemenu-menu-collapsed .sidemenu-item-text {
  display: none;
}

.sidemenu-menu-collapsed .sidemenu-item .sidemenu-item-logo {
  margin-right: 45px;
}

.sidemenu-menu-collapsed .sidemenu-item:hover {
  background: rgb(126, 126, 126);
  cursor: pointer;
}

.sidemenu-menu-collapsed .sidemenu-logout {
  /* Esta propiedad debe queda abajo del sidemenu */
}

.sidemenu-menu-collapsed .sidemenu-btn {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  width: 45px;
  cursor: pointer;
  margin-bottom: 5px;
}
