.Messages{
    display: flex;
    flex-direction: column;
}
.MessageTop{
    display: flex;
}

.Message-Img{
width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.Message-Name{
    padding: 10px;
    font-size: 20px;
}

.Message-Text{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}

.MessageBottom{
    font-size: 12px;
    margin-top: 10px;
    
}

.Messages.own{
    align-items: flex-end;
}

.Messages.own .Message-Text{
    background: rgb(202, 202, 202);
    color: black;
}