.Conversations{
    display: flex;
    align-items: center;
    padding: 10px;
}

.Conversations:hover{
    background: rgba(128, 128, 128, 0.391);
    cursor: pointer;
}

.Conversation-Img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50px;
}

.Conversation-Name{
    font-weight: bold;
}