.LoginWrapper{
    position:absolute;
    top: 1%;
    right: 1%;
    width: 500px;
    height: 93vh;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    transition: 0.5;
  }
  .Login-form-group{
    width:100%;
    margin-bottom: 10px;
  }
  .Login-form-group h1{
    color: rgb(255, 255, 255);
    text-align: center;
    background: #858585;
    padding: 10px;
  }

  .Login-form-group input[type="email"],
  .Login-form-group input[type="text"],
  .Login-form-group input[type="password"]{
    width: 95%;
    height:45px;
    outline: none;
    border:none;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:0.8rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;

  }
  .Login-form-group input:focus{
    border-color: #358efb;
  }
  .Login-form-group-button{
    position: relative;
    top: 60%;
    padding: 20px;
  }
  .Login-form-group-button button{
    width: 100%;
    background-color: #696969;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .Login-form-group-button button:hover {
   background: #596185;
  }
  .Login-Form-Register{
    margin-left: 10px;
    text-decoration: none;
    color: black;
  }
  .Login-Form-Forgot{
    margin-left: 48%;
    text-decoration: none;
    color: black;
  }

  @media only screen and (max-width:1440px) {
    /* For Laptop L: */
    .Login-form-group-button{
      /* top: 60%; */
      padding: 20px;
    }
  }

  @media only screen and (max-width:1024px) {
    /* For Laptop : */
    .Login-form-group-button{
      /* top: 1%; */
      padding: 20px;
    }
  }

  @media only screen and (max-width:768px) {
    /* For Laptop : */
    .LoginWrapper{
      width: 95vw;
    }
    .Login-form-group-button{
      top: 57%;
      padding: 20px;
    }
  }