.MessagePost{
    width: 100%;
}
.MessagePostWrapper{
    display: flex;
}
.ChatBox-Message-Input{
    width: 85%;
    height: 90px;
    padding: 20px;
}
.ChatBox-Message-Botton{
    width: 15%;
    height: 132px;
    border: none;
    border-radius: 5px 0;
    cursor: pointer;
}
.ChatBox-Message-Botton:hover{
    background: #bfbfbf;
}