.Publications{
    margin-left: 60px;
    /* background: wheat; */
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    z-index: 1;
}
.PublicationsWrapper{
  /* columns: 4 auto; */
}
.Publication-card{
    width: 45%;
    border: 1px solid rgba(0, 0, 0, 0.234);
    margin: 0 auto;
    margin-bottom: 10px;
}

.Publication-card-bottom{
    padding: 10px;
}

.Publication-icons{
    display: flex;
}
.Publication-icons .Publication-icons-like,.Publication-icons-comment,.Publication-icons-share{
    font-size: 30px;
    padding: 5px;
}

.Publication-comments span{
    color: rgba(0, 0, 0, 0.474);
}

.Publication-img{
    background: rgba(39, 79, 116, 0.679);
    display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  
  }
.Publication-img .Publication-img-lazy{
    width: 100%;
    height: auto;
    z-index: 1;
    /* object-fit: contain; */
    
  }
  /* @supports(object-fit: cover){
      .Publication-img .Publication-img-lazy{
        height: 100%;
        max-height: 500px;
        object-fit: cover;
        object-position: center center;
      }
  } */

  .Publication-description-User {
    position: relative;
    z-index: 1;
  }
  .Publication-description-User span{
  position: relative;
  top: -15px;
  margin-left: 10px;
  font-weight: 600;
  text-transform: uppercase;
  }
  .Publication-description-User img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }

  .Publication-description-Text{
      margin-left: 10px;
      /* max-width: 360px; */
      /* min-width: ; */
      text-align: left;
      padding: 2px;
  }
