.Profile-Publication{
  /* background: wheat; */
  margin-left: 30px;
}
.my-masonry-grid {
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  display: flex;
  margin-left: 30px; 
  width: 70vw;
  z-index: 1;
  /* background: #000; */
}
.my-masonry-grid_column {
  padding-left: 30px;
  /* background-clip: padding-box; */
}
.PostPublication {
  margin-left: 65px;
}

.PostPublicationWrapper {
  padding: 20px;
  display: flex;
  z-index: 1;
}

.PostPublication-Description {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1;
  box-sizing: border-box;
}

.PostPublication-Select-Video {
  /* padding: 10px;
  width: 100%;
  border: none; */
  z-index: 1;
}

.PostPublication-Select-Video-OPT {
  padding: 10px;
  width: 100%;
  border: none;
  z-index: 1;
}

.PostPublication-File {
  margin-top: 20px;
  z-index: 1;
}

.PostPublication-Submit {
  margin-top: 20px;
  border: none;
  padding: 10px;
  background: #727272;
  color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 20px;
}
