.Comments{
    padding: 20px;
}
.Comments-Button{
    display: flex;
}
.Comments-Button input {
    padding: 5px;
    width: 80%;
    border: none;
    border-bottom: 1px solid grey;
    height: 40px;
}
.Comments-Button button {
    padding: 6px;
    width: 17%;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 30px;
}
.Comments-Button button:hover {
    background: rgba(191, 191, 191, 0.385);
    cursor: pointer;
}

.Comments-Profile-Img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* object-fit: contain; */
    object-fit: cover;
    background: white;
}

.Comments-Profile-Username{
    color: black;
    margin-right: 20px;
}