.Profile{
    padding: 20px;
    margin-left: 10%;
}
.ProfileWrapper{
    padding: 20px;
}

.Profile-Info{
    display: flex;
    margin-bottom: 30px;
}
.Profile-Info-Img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.Profile-Info-Description{
    /* background: wheat; */
    width: 70%;
    padding: 20px;
}

.Profile-Info-Description span{
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}

.LinkProfileSettings{
    text-decoration: none;
    color: black;
}

.Profile-Info-Description p{
    width: 50%;
}

.Profile-Info-Description-Info-FFP-Wrapper{
    display: flex;
}

.Profile-Info-Description-Info p{
    padding: 10px;
    width: 200px;
    /* background: wheat; */
    white-space: pre;
}

.Profile-Info-Description-Info-Message{
    width: 51%;
    margin-top: 20px;
    border: none;
}

.Profile-Follow, .LinkCreateConversation{
    padding: 10px;
    border: none;
    margin-left: 10px;
    margin-top: 4px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid grey;
}

.Profile-Info-Description-Info-FFP{
    display: flex;
    margin-top: 25px;
}

.Profile-Info-Description-Info-FFP div{
    /* padding: 20px; */
    /* border: 1px solid gray; */
    margin-left: 10px;
}

.Profile-Publication{
    width: 90%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.Profile-Publication-CardWrapper{
    padding: 20px;
}

.Profile-Publication-CardWrapper .Profile-Publication-img{
    width: 100%;
    object-fit: cover;
}