.Video{
    margin-left: 60px;
    /* background: wheat; */
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    
}
.Video-card{
    width: 45%;
    /* border: 1px solid rgba(0, 0, 0, 0.234); */
    margin: 0 auto;
    margin-bottom: 10px;
    
}

.Video-card-bottom{
    padding: 10px;
    
}

.Video-icons{
    display: flex;
    
}
.Video-icons .Video-icons-like,.Video-icons-comment,.Video-icons-share{
    font-size: 30px;
    padding: 5px;
    
}

.Video-comments span{
    color: rgba(0, 0, 0, 0.474);
}

.Video-img video{
    width: 100%;
    height: auto;
    
  }
  @supports(object-fit: cover){
      .Video-img video{
        height: 100%;
        /* max-height: 700px; */
        max-height: auto;
        object-fit: cover;
        object-position: center center;
        
      }
  }