.RegisterWrapper{
  position:absolute;
  top: 1%;
  right: 1%;
  width: 500px;
  height: 93vh;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  transition: 0.5;
}
.Register-form-group{
  width:100%;
  margin-bottom: 10px;
}
.Register-form-group h1{
  color: white;
  text-align: center;
  background: #7c7c7c;
  padding: 10px;
}

.Register-form-group input[type="email"],
.Register-form-group input[type="text"],
.Register-form-group input[type="password"]{
  width: 95%;
  height:45px;
  outline: none;
  border:none;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size:0.8rem;
  -webkit-transition:all 0.1s linear;
  -moz-transition:all 0.1s linear;
  transition:all 0.1s linear;

}
.Register-form-group input:focus{
  border-color: #358efb;
}
.Register-form-group-button{
  position: relative;
  top: 50%;
  padding: 20px;
}
.Register-form-group-button button{
  width: 100%;
  background-color: #707070;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase;
  margin-top: 10px;
}
.Register-form-group-button button:hover {
 background: #596185;
}
.Register-Form-Register{
  margin-left: 10px;
  text-decoration: none;
  color: black;
}
.Register-Form-Forgot{
  margin-left: 48%;
  text-decoration: none;
  color: black;
}
